<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" /> 
    <!--
    <link rel="stylesheet" href="vendor/semantic.min.css" />
    -->
    <title>Value to words translator in vuejs</title>
    <style media="screen">
        .title {
            background-color: teal;
            color: white;
            padding: 10px;
        }

        .chainList {
            margin-top: 5px !important;
        }

        .header {
            margin-bottom: 5px !important;
        }

        .chainListItem {
            margin-bottom: 5px !important;
        }

        .chainInfo {
            margin-top: 10px !important;
        }

        .centered {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="ui fourteen wide column title">
        <div class="centered">
            <h1>Value to words translator in vuejs</h1>
        </div>
    </div>
    <div class="ui padded grid centered">
        <div class="fourteen wide column" id="app">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column ui radio checkbox" v-for="type in types">
                        <input type="radio" v-bind:id="type + 'Type'" group="type" v-bind:value="type" v-model="selectedType" @click="onTranslatorTypeChanged()"
                        />
                        <label v-bind:for="type + 'Type'">{{ type }}</label>
                    </div>
                </div>
                <div class="twelve wide column number-translator ui segment" v-if="selectedType != 'Time'">
                    <div class="ui grid">
                        <div class="">
                            <h3 class="">{{ selectedType }} translator</h3>
                        </div>
                        <div class="two column row">
                            <div class="ten wide column">
                                <div class="ui fluid input">
                                    <input type="number" v-model="value" @input="translate()" />
                                </div>
                            </div>
                            <div class="six wide column" v-if="availableUnitsForTranslator.length > 0">
                                <select class="inputUnitDropdown ui dropdown right floated" v-model="selectedInputUnit" @change="translate()">
                                    <option value="">Select unit for input value</option>
                                    <option class="item" v-for="unit in availableUnitsForTranslator" :key="unit.getValue()" v-bind:value="unit.getValue()"> {{ unit.getWord() }} </option>
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <div class="ten column wide ui blue label">
                                {{ translatedWord }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column time-translator ui segment" v-if="selectedType == 'Time'">
                    <div class="ui grid">
                        <div class="">
                            <h3 class="">{{ selectedType }} translator</h3>
                        </div>
                        <div class="row">
                            <div class="eight wide column">
                                <div class="ui input">
                                    <span class="ui label">Start</span>
                                    <input class="" type="date" v-model="dateFrom" @input="translateDateDiff()" />
                                    <input class="" type="time" v-model="timeFrom" @input="translateDateDiff()" />
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui input">
                                    <span class="ui label">End</span>
                                    <input class="" type="date" v-model="dateTo" @input="translateDateDiff()" />
                                    <input class="" type="time" v-model="timeTo" @input="translateDateDiff()" />
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="ten column wide ui blue label">
                                {{ translatedWord }} <span v-if="value < 0">ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="row ui segment">
                        <div class="sixteen wide column">
                            <h3 class="header">Magnitude options</h3>
                        </div>
                        <div class="four wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" v-model="magnitudeOptions.TranslateMagnitudes" @click="onMagnitudeOptionsChanged()" />
                                <label>Magnitudes</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" v-model="magnitudeOptions.TranslateVeryLowOrderOfMagnitudes" @click="onMagnitudeOptionsChanged()"
                                />
                                <label>Very low order of magnitudes</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" v-model="magnitudeOptions.TranslateLowOrderOfMagnitudes" @click="onMagnitudeOptionsChanged()" />
                                <label>Low order of magnitudes</label>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" v-model="magnitudeOptions.TranslateHighOrderOfMagnitudes" @click="onMagnitudeOptionsChanged()" />
                                <label>High order of magnitudes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ui segment">
                    <div class="thirteen wide column">
                        <h3 class="">Translation chain info</h3>
                    </div>
                    <div class="three wide column">
                        <button @click="resetTranslator()" class="ui negative basic button right floated">Reset</button>
                    </div>
                    <template v-if="magnitudeList.length > 0">
                        <div class="sixteen wide column chainInfo magnitudes">
                            <h4>Magnitudes</h4>
                        </div>
                        <div class="chainList magnitudeOptionsList sixteen wide column">
                            <div class="chainListItem ui yellow label" v-for="(magnitude, index) in magnitudeList" v-bind:title="magnitude.translationBase.value">
                                {{ magnitude.translationBase.word }} <i class="delete icon" v-on:click="removeChainItem('magnitude', index)"></i>
                            </div>
                        </div>
                    </template>
                    <template v-if="orderOfMagnitudeList.length > 0">
                        <div class="sixteen wide column chainInfo orderOfMagnitudes">
                            <h4>Order of magnitudes</h4>
                        </div>
                        <div class="chainList sixteen wide column">
                            <div class="chainListItem ui teal label" v-for="(orderOfMagnitude, index) in orderOfMagnitudeList" v-bind:title="orderOfMagnitude.translationBase.value">
                                {{ orderOfMagnitude.translationBase.word }} <i class="delete icon" v-on:click="removeChainItem('orderOfMagnitude', index)"></i>
                            </div>
                        </div>
                    </template>
                    <template v-if="unitList.length > 0">
                        <div class="sixteen wide column chainInfo units">
                            <h4>Units</h4>
                        </div>
                        <div class="chainList sixteen wide column">
                            <div class="chainListItem ui olive label" v-for="(unit, index) in unitList" v-bind:title="unit.translationBase.value">
                                {{ unit.translationBase.word }} <i class="delete icon" v-on:click="removeChainItem('unit', index)"></i>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <script src="http://projects.nareshrohra.com/libraries/vaow/vaow.js"></script>
        <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script src="https://unpkg.com/vue"></script>

        <!--
        <script src="vendor/vaow.js"></script>
        <script src="vendor/jquery.min.js"></script>
        <script src="vendor/semantic.min.js"></script>
        <script src="vendor/vue.js"></script>
    -->
        
        <script src="script.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css'
        />
</body>

</html>